// TODO make theme colors easier to manage

@font-face {
    font-family: "Minecraftia";
    src: url("../assets/Minecraftia.ttf");
}

:root {
    --dark-background: rgb(14, 17, 23);
    --dark-outline: rgb(50, 58, 70);
    --dark-hover: rgba(22, 27, 34, 0.5);
    --white-main: rgb(234, 240, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Minecraftia";
    font-size: 14px;
    color: rgb(200, 209, 217);
}

button:hover {
    cursor: pointer;
}

#base {
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
    background-color: var(--dark-background);
}

#menu {
    background: var(--dark-outline);
    -webkit-app-region: drag;
    height: 35px;
    width: 100%;
}

.menu-item {
    border: none;
    background: none;
}

.button-text {
    font-size: 16px;
    float: left;
    padding: 5px 15px;
    color: var(--white-main);

    &:hover {
        background: var(--dark-hover);
    }
}

.button-image {
    float: right;
    transition: background-image 0.1s ease-in-out;
    background: transparent;
    background-size: cover;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-left: 0;
    border: none;
    filter: drop-shadow(1px 1px black);
}

#menu-wiki {
    background: var(--dark-hover);
}

#menu-show {
    background-image: url("../assets/Show_1.png");

    &:hover {
        background-image: url("../assets/Show_2.png");
    }
}

#menu-minimize {
    background-image: url("../assets/Minimize_1.png");

    &:hover {
        background-image: url("../assets/Minimize_2.png");
    }
}


#menu-quit {
    background-image: url("../assets/Quit_1.png");

    &:hover {
        background-image: url("../assets/Quit_2.png");
    }
}

#wiki {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.pokecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--dark-outline);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    z-index: 0;

    .name {
        margin: 4px;
        margin-bottom: 0;
        text-align: center;
        font-size: 18px;
    }

    .id {
        margin: 10px;
        margin-top: 0;
        background-color: var(--dark-background);
    }

    .top-line {
        position: relative;
        bottom: 21px;
        border: 1px solid var(--dark-outline);
        height: 1px;
        width: 192px;
        z-index: -1;
    }

    .pokemon {
        height: 170px;
        width: 170px;
        filter: drop-shadow(1px 1px rgb(0, 0, 0));
    }

    .bottom-line-1 {
        position: relative;
        top: 23.5px;
        border: 1.5px solid var(--dark-outline);
        height: 1px;
        width: 192px;
    }

    .bottom-line-2 {
        position: relative;
        top: 29.5px;
        border: 1.5px solid var(--dark-outline);
        height: 1px;
        width: 192px;
    }

    .bottom-line-3 {
        position: relative;
        top: 20px;
        border: 3.5px solid var(--dark-background);
        height: 1px;
        width: 192px;
        z-index: 1;
    }

    .bottom-circle {
        position: absolute;
        top: 286px;
        border-radius: 50%;
        border: 3.5px solid var(--dark-outline);
        height: 52px;
        width: 52px;
    }

    .bottom-background {
        position: absolute;
        top: 289px;
        border-radius: 50%;
        background-color: var(--dark-background);
        height: 46px;
        width: 46px;
    }

    .swap {
        background: transparent;
        background-image: url("../assets/Swap.svg");
        filter: invert(1);
        background-size: cover;
        border: none;
        height: 30px;
        width: 30px;
        margin-top: 1px;
        z-index: 2;
    }
}

.types {
    padding: 10px;
}

#search-bar {
    position: absolute;
    right: 10px;
    z-index: 0;

    #search {
        width: 155px;
        padding: 3px 4px;
        // TODO new color for
        border: 1.2px solid rgb(54, 60, 69);
        border-radius: 7.5px;
        background-color: var(--white-main);
        color: rgb(14, 17, 23);

        &:focus {
            outline-style: solid;
            outline-width: 0.7px;
            outline-color: rgb(100, 100, 183);
        }
    }

    #results {
        position: relative;
        bottom: 7px;
        z-index: -1;
        width: 99%;
        margin: 0 auto;
        border: 1px solid rgb(54, 60, 69);
        border-radius: 2.5px;
        background-color: var(--white-main);
        display: none;

        #results-list {
            list-style: none;
            // padding: 6px 4px;
            // padding-bottom: 3px;

            li {
                color: var(--dark-outline);
                padding: 0.5px 6px;

                &:first-of-type {
                    padding-top: 6px;
                }

                &:last-of-type {
                    padding-bottom: 2px;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--white-main);
                    background-color: rgb(91, 91, 188);
                }
            }
        }
    }
}

.break {
    flex-basis: 100%;
    width: 0;
}

.base-stats {
    margin: 5px;
    width: 130px;

    .stat {
        border: 1px solid red;
        padding: 1.5px 4px;

        .right {
            float: right;
        }
    }
}

.goto {
    // TODO new border color
    border: 3px solid var(--dark-hover);
    border-radius: 10px;
    background-color: var(--dark-outline);
    padding: 3px 8px 3px 8px;
    margin-top: 20px;

    &#go-back {
        float: left;
    }

    &#go-forward {
        margin-left: auto;
    }
}