@font-face {
  font-family: "Minecraftia";
  src: url("../assets/Minecraftia.ttf");
}

:root {
  --dark-background: rgb(14, 17, 23);
  --dark-section: rgb(50, 58, 70);
  --dark-outline: rgb(129, 154, 181);
  --dark-hover: rgba(22, 27, 34, 0.5);
  --white-main: rgb(234, 240, 244);
  --white-secondary: rgb(200, 209, 217);
  --poke-card: rgb(69, 69, 111);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Minecraftia";
  font-size: 14px;
  color: var(--white-main);
}

b {
  color: black;
}

button:hover {
  cursor: pointer;
}

#base {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  background-color: var(--dark-background);
}

#menu {
  background: var(--dark-section);
  -webkit-app-region: drag;
  height: 35px;
  width: 100%;
}

.menu-item {
  border: none;
  background: none;
}

.button-text {
  font-size: 16px;
  float: left;
  padding: 5px 15px;
  color: var(--white-main);
}

.button-text:hover {
  background: var(--dark-hover);
}

.button-image {
  float: right;
  -webkit-transition: background-image 0.1s ease-in-out;
  transition: background-image 0.1s ease-in-out;
  background: transparent;
  background-size: cover;
  height: 25px;
  width: 25px;
  margin: 5px;
  margin-left: 0;
  border: none;
  -webkit-filter: drop-shadow(1px 1px black);
          filter: drop-shadow(1px 1px black);
}

#menu-wiki {
  background: var(--dark-hover);
}

#menu-show {
  background-image: url("../assets/Show_1.png");
}

#menu-show:hover {
  background-image: url("../assets/Show_2.png");
}

#menu-minimize {
  background-image: url("../assets/Minimize_1.png");
}

#menu-minimize:hover {
  background-image: url("../assets/Minimize_2.png");
}

#menu-quit {
  background-image: url("../assets/Quit_1.png");
}

#menu-quit:hover {
  background-image: url("../assets/Quit_2.png");
}

#wiki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

.pokecard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid var(--dark-outline);
  border-radius: 15px;
  height: 300px;
  width: 200px;
  z-index: 0;
  background-color: var(--poke-card);
}

.pokecard .name {
  margin: 4px;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
}

.pokecard .id {
  margin: 10px;
  margin-top: 0;
  background-color: var(--poke-card);
}

.pokecard .top-line {
  position: relative;
  bottom: 21px;
  border: 1px solid var(--dark-outline);
  height: 1px;
  width: 192px;
  z-index: -1;
}

.pokecard .pokemon {
  height: 170px;
  width: 170px;
  -webkit-filter: drop-shadow(1px 1px black);
          filter: drop-shadow(1px 1px black);
}

.pokecard .bottom-line-1 {
  position: relative;
  top: 23.5px;
  border: 1.5px solid var(--dark-outline);
  height: 1px;
  width: 192px;
}

.pokecard .bottom-line-2 {
  position: relative;
  top: 29.5px;
  border: 1.5px solid var(--dark-outline);
  height: 1px;
  width: 192px;
}

.pokecard .bottom-line-3 {
  position: relative;
  top: 20px;
  border: 3.5px solid var(--poke-card);
  height: 1px;
  width: 192px;
  z-index: 1;
}

.pokecard .bottom-circle {
  position: absolute;
  top: 286px;
  border-radius: 50%;
  border: 3.5px solid var(--dark-outline);
  height: 52px;
  width: 52px;
}

.pokecard .bottom-background {
  position: absolute;
  top: 289px;
  border-radius: 50%;
  background-color: var(--poke-card);
  height: 46px;
  width: 46px;
}

.pokecard .swap {
  background: transparent;
  background-image: url("../assets/Swap.svg");
  -webkit-filter: invert(1);
          filter: invert(1);
  background-size: cover;
  border: none;
  height: 30px;
  width: 30px;
  margin-top: 1px;
  z-index: 2;
}

.types {
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.types img {
  width: 25px;
  display: inline-block;
  vertical-align: top;
}

.types .pic-to-left {
  display: inline-block;
}

.types .tab {
  margin-left: 34px;
}

#search-bar {
  position: absolute;
  right: 10px;
  z-index: 0;
}

#search-bar #search {
  width: 155px;
  padding: 3px 4px;
  border: 1.2px solid #363c45;
  border-radius: 7.5px;
  background-color: var(--white-main);
  color: #0e1117;
}

#search-bar #search:focus {
  outline-style: solid;
  outline-width: 0.7px;
  outline-color: #6464b7;
}

#search-bar #results {
  position: relative;
  bottom: 7px;
  z-index: -1;
  width: 99%;
  margin: 0 auto;
  border: 1px solid #363c45;
  border-radius: 2.5px;
  background-color: var(--white-main);
  display: none;
}

#search-bar #results #results-list {
  list-style: none;
}

#search-bar #results #results-list li button {
  text-align: left;
  border: none;
  background: transparent;
  background-size: cover;
  color: var(--dark-section);
  padding: 0.5px 6px;
  width: 100%;
}

#search-bar #results #results-list li button:first-of-type {
  padding-top: 6px;
}

#search-bar #results #results-list li button:last-of-type {
  padding-bottom: 2px;
}

#search-bar #results #results-list li button:hover {
  cursor: pointer;
  color: var(--white-main);
  background-color: #5b5bbc;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
}

.separate {
  margin: 7.5px;
  margin-bottom: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px dashed var(--dark-section);
}

.base-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--dark-outline);
  height: 177px;
}

.base-stats .stats {
  width: 125px;
}

.base-stats .stats s {
  color: black;
  text-decoration-thickness: 1.5px;
}

.base-stats .extra {
  width: 40px;
}

.base-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--dark-outline);
  padding: 1.5px 4px;
  height: 25px;
}

.base-stats .stat img {
  height: 18px;
  margin-right: 2px;
  margin-bottom: 1px;
  -webkit-filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.75));
}

.base-stats p,
.base-stats span {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.base-stats .hp {
  background-color: #ff5958;
}

.base-stats .attack {
  background-color: #f5ac78;
}

.base-stats .special-attack {
  background-color: #9db7f5;
}

.base-stats .defense {
  background-color: #fae078;
}

.base-stats .special-defense {
  background-color: #a7db8d;
}

.base-stats .speed {
  background-color: #fa92b2;
}

.base-stats .total {
  background-color: #c6c6a7;
}

.base-stats .right {
  margin-left: auto;
}

#spawn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  width: 600px;
  border: 1px solid var(--dark-outline);
}

#spawn #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#spawn #header #header-biome {
  background-color: #97bd84;
  width: 280%;
}

#spawn #header #header-rarity {
  background-color: #c394c9;
  width: 80%;
}

#spawn #header #header-time {
  background-color: #8ea9e9;
  width: 90%;
}

#spawn #header #header-location {
  background-color: #dc9d70;
}

#spawn #header #header-weather {
  background-color: #dd86a0;
}

#spawn #header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--dark-outline);
  height: 25px;
  width: 100%;
  background-color: #c6c6a7;
  color: black;
}

#spawn #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#spawn #content #biome {
  width: 276%;
}

#spawn #content #biome p {
  background-color: #a7db8d;
}

#spawn #content #rarity {
  width: 80.5%;
}

#spawn #content #rarity p {
  background-color: #d89fde;
}

#spawn #content #time {
  width: 90%;
}

#spawn #content #time p {
  background-color: #9db7f5;
}

#spawn #content #location p {
  background-color: #f5ac78;
}

#spawn #content #weather p {
  background-color: #fa92b2;
}

#spawn #content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#spawn #content div p {
  border: 1px solid var(--dark-outline);
  height: 25px;
  padding-left: 5px;
  background-color: #c6c6a7;
  color: black;
  text-align: center;
}

#separate-bottom {
  margin: 15px 7.5px 9px 7.5px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px dashed var(--dark-section);
}

#bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  z-index: 0;
}

#bottom-menu hr {
  position: absolute;
  right: 90px;
  z-index: -1;
  height: 2px;
  width: 620px;
  border: 1px solid var(--dark-outline);
}

.goto {
  border: 2px solid var(--dark-outline);
  border-radius: 20px;
  background-color: var(--dark-section);
  padding: 3px 6px;
  font-size: 14px;
}

.goto#go-back {
  float: left;
}

.goto#go-forward {
  margin-left: auto;
}

#more-info {
  border: none;
  background: transparent;
  background-size: cover;
  background-image: url("../assets/Switch_Off.png");
  width: 60px;
  height: 60px;
  margin-left: auto;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */