@font-face {
    font-family: "Minecraftia";
    src: url("../assets/Minecraftia.ttf");
}

@font-face {
    font-family: "Marker";
    src: url("../assets/Marker.ttf");
}

:root {
    --dark-background: rgb(14, 17, 23);
    --dark-section: rgb(50, 58, 70);
    --dark-outline: rgb(129, 154, 181);
    --dark-hover: rgba(22, 27, 34, 0.5);
    --white-main: rgb(234, 240, 244);
    --white-secondary: rgb(200, 209, 217);
    --poke-card: rgb(69, 69, 111);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Minecraftia";
    font-size: 14px;
    color: var(--white-main);
}

b {
    color: black;
}

button:hover {
    cursor: pointer;
}

#base {
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
    background-color: var(--dark-background);
}

#menu {
    background: var(--dark-section);
    -webkit-app-region: drag;
    height: 35px;
    width: 100%;
}

.menu-item {
    border: none;
    background: none;
}

.button-text {
    font-size: 16px;
    float: left;
    padding: 5px 15px;
    color: var(--white-main);

    &:hover {
        background: var(--dark-hover);
    }
}

.button-image {
    float: right;
    transition: background-image 0.1s ease-in-out;
    background: transparent;
    background-size: cover;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-left: 0;
    border: none;
    filter: drop-shadow(1px 1px black);
}

#menu-wiki {
    background: var(--dark-hover);
}

#menu-show {
    background-image: url("../assets/Menu/Show_1.png");

    &:hover {
        background-image: url("../assets/Menu/Show_2.png");
    }
}

#menu-minimize {
    background-image: url("../assets/Menu/Minimize_1.png");

    &:hover {
        background-image: url("../assets/Menu/Minimize_2.png");
    }
}

#menu-quit {
    background-image: url("../assets/Menu/Quit_1.png");

    &:hover {
        background-image: url("../assets/Menu/Quit_2.png");
    }
}

#wiki {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 577px;
}

.pokecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--dark-outline);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    z-index: 0;
    background-color: var(--poke-card);

    .name {
        margin: 4px;
        margin-bottom: 0;
        text-align: center;
        font-size: 18px;
        display: inline-block;
    }

    .legendary {
        position: relative;
        top: 5px;
        height: 25px;
    }

    .id {
        margin: 10px;
        margin-top: 0;
        background-color: var(--poke-card);
    }

    .top-line {
        position: relative;
        bottom: 21px;
        border: 1px solid var(--dark-outline);
        height: 1px;
        width: 192px;
        z-index: -1;
    }

    .pokemon {
        height: 170px;
        width: 170px;
        filter: drop-shadow(1px 1px rgb(0, 0, 0));
    }

    .bottom-line-1 {
        position: relative;
        top: 23.5px;
        border: 1.5px solid var(--dark-outline);
        height: 1px;
        width: 192px;
    }

    .bottom-line-2 {
        position: relative;
        top: 29.5px;
        border: 1.5px solid var(--dark-outline);
        height: 1px;
        width: 192px;
    }

    .bottom-line-3 {
        position: relative;
        top: 20px;
        border: 3.5px solid var(--poke-card);
        height: 1px;
        width: 192px;
        z-index: 1;
    }

    .bottom-circle {
        position: absolute;
        top: 286px;
        border-radius: 50%;
        border: 3.5px solid var(--dark-outline);
        height: 52px;
        width: 52px;
    }

    .bottom-background {
        position: absolute;
        top: 289px;
        border-radius: 50%;
        background-color: var(--poke-card);
        height: 46px;
        width: 46px;
    }

    .swap {
        background: transparent;
        background-image: url("../assets/Extra/Swap.svg");
        filter: invert(1);
        background-size: cover;
        border: none;
        height: 30px;
        width: 30px;
        margin-top: 1px;
        z-index: 2;
    }
}

.types {
    height: 300px;
    margin: 10px;
    align-self: center;

    img {
        width: 25px;
        display: inline-block;
        vertical-align: top;
    }

    .pic-to-left {
        display: inline-block;
    }

    .tab {
        margin-left: 34px;
    }

    p {
        width: 526px;
        overflow-wrap: break-word;
    }
}

#search-bar {
    position: absolute;
    right: 10px;
    z-index: 0;

    #search {
        width: 155px;
        padding: 3px 4px;
        // TODO new color for border
        border: 1.2px solid rgb(54, 60, 69);
        border-radius: 7.5px;
        background-color: var(--white-main);
        color: rgb(14, 17, 23);

        &:focus {
            outline-style: solid;
            outline-width: 0.7px;
            outline-color: rgb(100, 100, 183);
        }
    }

    #results {
        position: relative;
        bottom: 7px;
        z-index: -1;
        width: 99%;
        margin: 0 auto;
        border: 1px solid rgb(54, 60, 69);
        border-radius: 2.5px;
        background-color: var(--white-main);
        display: none;

        #results-list {
            list-style: none;

            li button {
                text-align: left;
                border: none;
                background: transparent;
                background-size: cover;
                color: var(--dark-section);
                padding: 0.5px 6px;
                width: 100%;

                &:first-of-type {
                    padding-top: 6px;
                }

                &:last-of-type {
                    padding-bottom: 2px;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--white-main);
                    background-color: rgb(91, 91, 188);
                }
            }
        }
    }
}

.break {
    flex-basis: 100%;
    width: 0;
}

.separate {
    margin: 7.5px;
    margin-bottom: 15px;
    flex-basis: 100%;
    border: 1px dashed var(--dark-section);
}

.base-stats {
    display: flex;
    border: 1px solid var(--dark-outline);
    height: 177px;

    .stats {
        width: 125px;
        text-decoration-thickness: 1.5px;
    }

    .extra {
        width: 40px;
    }

    .stat {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--dark-outline);
        padding: 1.5px 4px;
        height: 25px;

        img {
            height: 18px;
            margin-right: 2px;
            margin-bottom: 1px;
            filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.75));
        }
    }

    p,
    span {
        color: black;
        display: flex;
        align-items: center;
    }

    .hp {
        background-color: #ff5958;
    }

    .attack {
        background-color: #f5ac78;
    }

    .special-attack {
        background-color: #9db7f5
    }

    .defense {
        background-color: #fae078
    }

    .special-defense {
        background-color: #a7db8d;
    }

    .speed {
        background-color: #fa92b2;
    }

    .total {
        background-color: #c6c6a7;
    }

    .right {
        margin-left: auto;
    }
}

#spawn {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 600px;
    border: 1px solid var(--dark-outline);
    overflow: hidden;

    #header {
        display: flex;
        flex-direction: row;

        #header-biome {
            background-color: #97bd84;
        }

        #header-rarity {
            background-color: #c394c9;
        }

        #header-time {
            background-color: #8ea9e9;
        }

        #header-location {
            background-color: #dc9d70;
        }

        #header-weather {
            background-color: #dd86a0;
        }

        p {
            display: flex;
            justify-content: center;
            border: 1px solid var(--dark-outline);
            height: 25px;
            background-color: #c6c6a7;
            color: black;
        }
    }

    #content {
        display: flex;
        flex-direction: row;

        #biome div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #a7db8d;

            p {
                display: inline-block;
                border: none;
                margin-top: 2px;
                margin-right: 5px;
            }

            img {
                display: inline-block;
                height: 20px;
                width: 20px;
                padding: 1px;
                margin-bottom: 1px;
            }
        }

        #rarity p {
            background-color: #d89fde;
        }

        #time div {
            background-color: #9db7f5;
        }

        #location div {
            background-color: #f5ac78;
        }

        #time div,
        #location div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                height: 23px;
                width: 23px;
                padding: 1px;
            }
        }

        #weather p {
            background-color: #fa92b2;
        }

        div {
            display: flex;
            flex-direction: column;

            p,
            div {
                border: 1px solid var(--dark-outline);
                height: 25px;
                padding-left: 5px;
                color: black;
                text-align: center;
            }
        }
    }

    #header-biome,
    #biome div {
        width: 213px;
    }

    #header-rarity,
    #rarity p {
        width: 65px;
    }

    #header-time,
    #time div {
        width: 90px;
    }

    #header-location,
    #location div {
        width: 150px;
    }

    #header-weather,
    #weather p {
        width: 80px;
    }
}

#no-natural-spawning-available {
    position: relative;
    top: 15px;
    left: 160px;
    display: none;

    p {
        font-family: "Marker", "Trattatello", "fantasy";
        font-size: 24px;
        color: rgba(186, 151, 245, 0.8);
        filter: drop-shadow(0.5px 0.5px rgba(0, 0, 0, 0.75));
    }

    .tab {
        margin-left: 40px;
    }
}

#separate-bottom {
    margin: 15px 7.5px 9px 7.5px;
    flex-basis: 100%;
    border: 1px dashed var(--dark-section);
}

#bottom-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    z-index: 0;

    hr {
        position: absolute;
        right: 90px;
        z-index: -1;
        height: 2px;
        width: 620px;
        border: 1px solid var(--dark-outline);
    }
}

.goto {
    border: 2px solid var(--dark-outline);
    border-radius: 20px;
    background-color: var(--dark-section);
    padding: 3px 6px;
    font-size: 14px;

    &#go-back {
        float: left;
    }

    &#go-forward {
        margin-left: auto;
    }

    &:hover {
        background: rgb(66, 62, 92);
    }
}

#more-info {
    border: none;
    background: transparent;
    background-size: cover;
    background-image: url("../assets/Extra/Switch_Off.png");
    width: 60px;
    height: 60px;
    margin-left: auto;
    position: relative;
}